extends includes/layout
block main-content
    header
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href='/home') Home
                    a.navbar-brand(href='/about') About

    section
        div(ng-view)
            div hu
            div hu
            div hu
            div hu
            div hu
            div hu
            div hu
    footer
        p.text-center &copy; Georgi Yonchev 2018