extends includes/layout
block main-content
    header
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container
                .navbar-header
                    a.navbar-brand(href='/') Navbar
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li Hello 
    section
        div(ng-view)
    footer
        p.text-center &copy; Georgi Yonchev 2018